.login-scroll {
  position: relative;
  width: 750px;
  height: 750px;
  margin: calc(50vh - 375px) auto 0 auto;
  background-image: url(./img/scroll.png);
  background-size: cover;
}

.login-scroll__form {
  position: absolute;
  margin: 250px 0 0 75px;
}

.login-scroll__form label {
  font-size: 60px;
}

.login-scroll__form input {
  display: block;
  width: 450px;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #000;
  padding-bottom: 6px;
  font-size: 30px;
  transition: 1s;
}

.login-scroll__form input:focus,
.login-scroll__form input:active,
.login-scroll__form input:hover,
.login-scroll__form button:focus,
.login-scroll__form button:active,
.login-scroll__form button:hover {
  outline: none;
}

.form__feedback {
  margin-bottom: 0;
  font-size: 1.8em;
}

.login-scroll__form button {
  display: inline-block;
  width: 337px;
  height: 93px;
  margin: 20px 0 0 100px;
  border: none;
  font-size: 30px;
  background-image: url(./img/feather.png);
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
}

.login-scroll__form button:hover {
  text-shadow:
  0px 0px 15px #ffffff,
  0px 0px 15px #ffffff,
  0px 0px 15px #ffffff;
}

.form__anon-login {
  margin: 15px 0 0 202px;
  font-size: 1.8em;
}

.form__anon-login a {
  color: black;
  transition: 1s;
  opacity: .4;
}

.form__anon-login:hover a {
  opacity: 1;
}
